## Processamento

- Features
    - Faturamento Total por Cliente
    - Quantidade total de pedidos por cliente

### Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Base de dados

In [2]:
df_pedidos = pd.read_excel("data/pedidos.xlsx")
df_itens = pd.read_excel("data/itens.xlsx") 
df_clientes = pd.read_excel("data/clientes.xlsx")

Agrupando os dados de clientes

In [3]:
pedidos_clientes = df_clientes.merge(df_pedidos, how="inner", on="cliente_id")
pedidos_clientes_itens = pedidos_clientes.merge(df_itens, how="inner", on="pedido_id")

# Filtrando as colunas desejadas
pedidos_clientes_itens.drop(columns=[i for i in pedidos_clientes_itens if i not in ['cliente_id_unico', 'pedido_id', 'pedido_status','preco', 'preco_frete']],inplace=True  )
# pedidos_clientes_itens = pedidos_clientes_itens[['cliente_id_unico', 'pedido_id', 'pedido_status','preco', 'preco_frete']]

In [4]:
pedidos_clientes_itens.pedido_status.unique()

array(['entregue', 'enviado', 'processando', 'faturado', 'cancelado',
       'approved', 'indisponivel'], dtype=object)

In [5]:
# filtrando os registros de pedidos indisponíveis ou cancelados
pedidos_clientes_itens = pedidos_clientes_itens[(pedidos_clientes_itens.pedido_status != 'cancelado') & (pedidos_clientes_itens.pedido_status != 'indisponivel')]

In [6]:
valor_por_cliente = pedidos_clientes_itens.groupby(by='cliente_id_unico').sum()

In [7]:
valor_por_cliente["valor_total"] = valor_por_cliente["preco"] + valor_por_cliente["preco_frete"]

In [8]:
valor_por_cliente.describe()

              preco   preco_frete   valor_total
count  94983.000000  94983.000000  94983.000000
mean     142.071747     23.595025    165.666772
std      216.074999     22.867488    226.726478
min        0.850000      0.000000      9.590000
25%       47.900000     14.090000     63.100000
50%       89.890000     17.600000    107.900000
75%      155.000000     25.540000    182.930000
max    13440.000000   1794.960000  13664.080000

conclusões tabela

In [9]:
pedidos_clientes

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado,pedido_id,pedido_status,pedido_data_compra,pedido_data_aprovado,pedido_data_entregue_transportadora,pedido_data_entrega_cliente,pedido_data_estimada_entrega
0,94906d652f7d1c9e4c4af604ede7784b,544d0f13064dc42b8f6957cf43fa5cad,69918,rio branco,AC,9819957d2d80bb1cdb7774bb0b623d85,entregue,2017-08-16 01:09:00,2017-08-17 09:44:00,2017-08-18 15:43:00,2017-09-19 16:58:00,2017-09-20
1,ca077dd95290191565abb393a580bbfc,70f326d437e44cf69da00c9169b74fb3,69911,rio branco,AC,cd02e1b6a025f2d7003c4c8b2ef28baf,entregue,2018-02-19 13:38:00,2018-02-19 13:50:00,2018-02-20 19:19:00,2018-03-08 19:45:00,2018-03-29
2,5a5f70fead43dc16ec4d5afed5281239,b1cf91f7efd99001549d2eafa05c66c1,69918,rio branco,AC,7f2527b00aba2c4ea2631cbf2a1d0f68,entregue,2017-08-04 17:09:00,2017-08-04 17:25:00,2017-08-07 16:12:00,2017-08-16 21:36:00,2017-09-08
3,c5de7db594b246f428940ced283125bd,8c792a4fb7f5d708257abf55fa899ce8,69918,rio branco,AC,9bad44921c98e1f220a667504bcffb9e,entregue,2017-03-05 14:28:00,2017-03-06 14:35:00,2017-03-10 06:11:00,2017-03-27 14:28:00,2017-04-06
4,16aba5570b45f6b4c9204407132e2cae,5f8f12098427d3cbb37e9dcf269bb53c,69918,rio branco,AC,f00cdb8585a46952303de92749d24590,entregue,2018-04-12 17:16:00,2018-04-13 20:15:00,2018-04-16 15:32:00,2018-05-05 20:11:00,2018-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,23e9c4157d6c105f4f1b5581129d54b0,1f4b29fb78faa282b122b491ce721aaa,77725,colmeia,TO,837fd76b391ccd40162b81fca0334e45,entregue,2018-07-11 10:34:00,2018-07-11 10:47:00,2018-07-17 12:04:00,2018-07-26 19:45:00,2018-08-06
99437,0cf035c6dba87ba8ca506f64719663dd,721406d1edfabad2de3f86155356d8e0,77305,conceicao do tocantins,TO,abbf8270415671551b11b0e45c72eeb8,entregue,2018-02-22 09:31:00,2018-02-22 09:50:00,2018-02-27 23:42:00,2018-03-23 19:34:00,2018-03-23
99438,7dcd626576af9555424051dbdb01cb5a,7c0b4f7719caf8b29a4c8dbd5a1446c9,77370,natividade,TO,9a142fefa71ded6bdc21817299f5ab7c,entregue,2018-06-11 16:10:00,2018-06-11 16:42:00,2018-06-12 12:28:00,2018-06-22 14:41:00,2018-07-24
99439,be961156244f41bb0728342afdc122e2,fa0d24dd602c76038e9c0614d1620cec,77490,cristalandia,TO,6ea6774abec27440369c7282c5511cc6,entregue,2018-03-21 20:21:00,2018-03-21 20:35:00,2018-03-22 22:54:00,2018-04-11 20:22:00,2018-04-18
99440,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,TO,67384817c871ae183b24f9a0a6eb9bbc,enviado,2018-01-25 12:12:00,2018-01-25 12:31:00,2018-01-26 17:49:00,NaT,2018-03-01

In [10]:
# filtrando os registros de pedidos indisponíveis ou cancelados
pedidos_clientes = pedidos_clientes[(pedidos_clientes.pedido_status != 'cancelado') & (pedidos_clientes.pedido_status != 'indisponivel') & (pedidos_clientes.pedido_status != 'created')]

qnt_por_clientes = pedidos_clientes.groupby(by="cliente_id_unico").count()["pedido_id"]
 
qnt_por_clientes = qnt_por_clientes.reset_index(level=0)
valor_por_cliente = valor_por_cliente.reset_index(level=0)

In [11]:
# valor_por_cliente = valor_por_cliente.reset_index(level=0)

In [12]:
info_clientes = valor_por_cliente.merge(qnt_por_clientes, how="inner", on="cliente_id_unico")
info_clientes.drop(columns=['preco', 'preco_frete'], inplace=True)
info_clientes.rename(columns={'pedido_id': 'qnt_pedidos'}, inplace=True)
info_clientes.describe()

        valor_total   qnt_pedidos
count  94983.000000  94983.000000
mean     165.666772      1.033859
std      226.726478      0.210811
min        9.590000      1.000000
25%       63.100000      1.000000
50%      107.900000      1.000000
75%      182.930000      1.000000
max    13664.080000     16.000000

Maioria dos clientes fizeram apenas 1 pedido. 
O que fez mais pedidos foi 16.

In [13]:
info_clientes.to_excel("data/informações_clientes.xlsx")